body{
    background-color: white;
    margin: 0px;
    display: grid;
    grid-template-columns: 15vw auto 15vw;
    grid-template-rows: 10vh auto;
    grid-template-areas:
        "menu header links"
        "menu content links";
}
#header{
    text-align:center;
    font-size: 4vh;
    grid-area: header;
    font-family: Comic Sans MS;
}

#menu{
    background-color: blue;

    grid-area: menu;
}
nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1vw;

    padding: 1vw;
    height: inherit;
}
.redirect{
    background-image: radial-gradient(rgba(241,231,29,1) 41%, rgba(68,117,255,1) 100%);
}
.redirect:hover{
    background-color: dodgerblue;
}
#content{
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;

    grid-area: content;
}
#section-nav{
    order:1;
    background-color: red;

    grid-area: links;
}

#menu, #section-nav{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    padding: 1%;
    min-height: 100vh;
    height: 100vh;
    position: sticky;
    top:0;
}


.link{
    background-image: radial-gradient(rgba(231,241,29,1) 41%, rgba(255,68,117,1) 100%);
}
.link:hover{
    background-color: yellow;
}

.redirect:hover, .link:hover{
    background-image: url();
    border-radius: 0px;
    border: solid black;
}

.redirect,.link{
    padding: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;

    text-align: center;
    font-weight: bold;
    color: black;

    transition: background-color .5s;
    transition: background-image .5s;
    transition: border-radius .2s;
    transition: border .2s;
}
section{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}
.section-header{
    text-align: center;
}
.items{
    padding: 7%;
    border-radius: 40px;
    border: dashed;
}
