body {
    background-image: radial-gradient(rgba(233,233,28,1) 0%, rgba(30,178,56,1) 100%);
}

table {
    width: 60%;
    border: dotted;
    margin-left:auto;
    margin-right:auto;
}

table, td {
    text-align: center;
    font-size: 17px;
}

tr {
    height: 30px;
}

tr:hover {
    border-radius: 40px;
    background-color: #ffa100;
}

h1 {
    text-align: center;
    font-family: Courier;
    font-weight: bold;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 20px;
}

a {
    font-style: oblique;
}

.header-nav, .content, footer {
    display: block;
    position: relative;
    border-radius: 40px;
    border: dashed;
    background-image: radial-gradient(rgba(241,231,29,1) 41%, rgba(68,255,117,1) 100%);
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

footer{
    text-align: center;
}

.icons {
    margin-left:auto;
    margin-right:auto;
}
