.a_section:link{
    color: green;
}

.a_section:visited{
    color: green;
}

.a_section:hover{
    color: red;
}

@media only screen and (min-width: 3072px) {
    .a_section {
        font-size: 70px;
    }
} 

h2 {
    text-align: left;
}
